.banner{
    background-image: url(/src/assets/smiling-children-playing-musical-instruments-classroom-school-children-playing-musical-instruments-classroom-142590643.jpg);
    background-size: cover;
    background-position: center;
}